/src/packages
/src/wogw.baseline/*.user
/src/wogw.baseline/App_Data/Logs
/src/wogw.baseline/App_Data/NuGetBackup
/src/wogw.baseline/App_Data/packages
/src/wogw.baseline/App_Data/preview
/src/wogw.baseline/App_Data/TEMP
/src/wogw.baseline/bin
/src/wogw.baseline/obj
/src/wogw.baseline/umbraco/Config/Lang/*.backup
/src/wogw.baseline/Config/*.backup
/src/wogw.baseline/umbraco/Config/Create/*.backup
/src/wogw.baseline/*.backup
/src/wogw.baseline.v12.suo
