<!--
	Core configuration for uCommerce components.
-->
<configuration>
	<include uri="Presenters.config" />
	<include uri="XmlRenderings.config" />
	<include uri="DataTypes.config" />
	<include uri="Marketing.config" />
	<include uri="Payments.config" />
	<include uri="Shipping.config" />
	<include uri="Core.config" />
	<include uri="Search.config" />
	<include uri="Shell.config" />

	<!-- Pipelines -->
	<include uri="../pipelines/Basket.config" />
	<include uri="../pipelines/Checkout.config" />
	<include uri="../pipelines/Processing.config" />
	<include uri="../pipelines/ProductReview.config" />
	<include uri="../pipelines/ProductReviewComment.config" />
	<include uri="../pipelines/ProductReviewComment.config" />
	<include uri="../pipelines/SaveOrder.config" />
	<include uri="../pipelines/ToCancelled.config" />
	<include uri="../pipelines/ToCompletedOrder.config" />
	<include uri="../pipelines/SaveProduct.config" />
	<include uri="../pipelines/DeleteProduct.config" />
	<include uri="../pipelines/SaveCategory.config" />
	<include uri="../pipelines/DeleteCategory.config" />
	<include uri="../pipelines/SaveProductDefinitionField.config" />
	<include uri="../pipelines/DeleteProductDefinitionField.config" />
	<include uri="../pipelines/SaveProductCatalogGroup.config" />
	<include uri="../pipelines/DeleteProductCatalogGroup.config" />
	<include uri="../pipelines/SaveProductCatalog.config" />
	<include uri="../pipelines/DeleteProductCatalog.config" />
	<include uri="../pipelines/SaveLanguage.config" />
	<include uri="../pipelines/DeleteLanguage.config" />
	<include uri="../pipelines/SaveDefinition.config" />
	<include uri="../pipelines/DeleteDefinition.config" />
	<include uri="../pipelines/SaveDefinitionField.config" />
	<include uri="../pipelines/SaveDataType.config" />
	<include uri="../pipelines/DeleteDataType.config" />
	<include uri="../pipelines/DeleteCampaignItem.config" />


	<!-- Custom, put your overrides here -->
	<include uri="Custom.config"/>
	
</configuration>