<configuration>
	<!-- Configuration for Umbraco 7 specific implementations -->
	<components>
		<!-- Services -->
		<component id="AuthenticationService"
				service="UCommerce.Security.IAuthenticationService, UCommerce"
				type="UCommerce.Umbraco7.Security.AuthenticationService, UCommerce.Umbraco7" />

		<component id="BackendLocalizationService"
				service="UCommerce.Presentation.Web.Pages.IBackendLocalizationService, UCommerce.Presentation"
				type="UCommerce.Umbraco7.Web.BackendLocalizationService, UCommerce.Umbraco7" />

		<component id="DomainService"
				service="UCommerce.Content.IDomainService, UCommerce"
				type="UCommerce.Umbraco7.Content.UmbracoDomainService, UCommerce.Umbraco7" />

		<component id="ImageService"
				service="UCommerce.Content.IImageService, UCommerce"
				type="UCommerce.Umbraco7.Content.UmbracoImageService, UCommerce.Umbraco7" />

		<component id="ContentService"
				service="UCommerce.Content.IContentService, UCommerce"
				type="UCommerce.Umbraco7.Content.UmbracoContentService, UCommerce.Umbraco7" />

		<component id="LoggingService"
				service="UCommerce.Infrastructure.Logging.ILoggingService, UCommerce.Infrastructure"
				type="UCommerce.Umbraco7.Logging.LoggingService, UCommerce.Umbraco7" />

		<component id="MemberService"
				service="UCommerce.Security.IMemberService, UCommerce"
				type="UCommerce.Umbraco7.Security.MemberService, UCommerce.Umbraco7" />

		<component id="UserService"
				service="UCommerce.Security.IUserService, UCommerce"
				type="UCommerce.Umbraco7.Security.UmbracoUserService, UCommerce.Umbraco7" />

		<component id="LanguageService"
				service="UCommerce.Infrastructure.Globalization.ILanguageService, UCommerce.Infrastructure"
				type="UCommerce.Umbraco7.UmbracoLanguageService, UCommerce.Umbraco7" />

		<component id="CommerceConfigurationProvider"
				service="UCommerce.Infrastructure.Configuration.CommerceConfigurationProvider, UCommerce.Infrastructure"
				type="UCommerce.Infrastructure.Configuration.CommerceConfigurationProvider, UCommerce.Infrastructure" />

		<component id="UrlResolver"
				service="UCommerce.Presentation.Web.IUrlResolver, UCommerce.Presentation"
				type="UCommerce.Umbraco7.Web.WebPath, UCommerce.Umbraco7" />

		<!-- Content Tree services -->
		<component
				id="MediaControlFactory"
				service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
				type="UCommerce.Presentation.Web.Controls.Factories.ImagePickerControlFactory, UCommerce.Presentation"/>

		<component
				id="ContentControlFactory"
				service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
				type="UCommerce.Presentation.Web.Controls.Factories.ContentPickerControlFactory, UCommerce.Presentation"/>

		<component
				id="ImagePickerControlAdapter"
				service="UCommerce.Presentation.Web.Controls.IControlAdapter, UCommerce.Presentation"
				type="UCommerce.Presentation.Web.Controls.Adapters.ImagePickerControlAdapter, UCommerce.Presentation" />

		<component
				id="ContentPickerControlAdapter"
				service="UCommerce.Presentation.Web.Controls.IControlAdapter, UCommerce.Presentation"
				type="UCommerce.Presentation.Web.Controls.Adapters.ContentPickerControlAdapter, UCommerce.Presentation" />

		<component id="ContentNodeService" service="UCommerce.Web.Api.Services.Nodes.ITreeNodeService, UCommerce.Web.Api" type="UCommerce.Web.Api.Services.Nodes.impl.ContentNodeService, UCommerce.Web.Api">
			<parameters>
				<serviceType>Content</serviceType>
				<treeNodeContentToTreeNodeConverter>${TreeServiceContentNodeConverter}</treeNodeContentToTreeNodeConverter>
				<treeContentService>${TreeServiceContentPicker}</treeContentService>
			</parameters>
		</component>

		<component id="ImageNodeService" service="UCommerce.Web.Api.Services.Nodes.ITreeNodeService, UCommerce.Web.Api" type="UCommerce.Web.Api.Services.Nodes.impl.ContentNodeService, UCommerce.Web.Api">
			<parameters>
				<serviceType>Image</serviceType>
				<treeNodeContentToTreeNodeConverter>${TreeServiceImageNodeConverter}</treeNodeContentToTreeNodeConverter>
				<treeContentService>${TreeServiceImagePicker}</treeContentService>
			</parameters>
		</component>

		<!-- tree service -->
		<component id="TreeServiceContentPicker"
				service="UCommerce.Tree.ITreeContentService, UCommerce"
				type="UCommerce.Umbraco7.Content.Umbraco7ContentTreeService, UCommerce.Umbraco7" />

		<component id="TreeServiceImagePicker"
		  service="UCommerce.Tree.ITreeContentService, UCommerce"
		  type="UCommerce.Umbraco7.Content.Umbraco7ImageTreeService, UCommerce.Umbraco7" />

		<component id="TreeServiceContentNodeConverter"
		  service="UCommerce.Web.Api.Services.Nodes.ITreeNodeContentToTreeNodeConverter, UCommerce.Web.Api"
		  type="UCommerce.Umbraco7.Content.Umbraco7ContentNodeConverter, UCommerce.Umbraco7" />

		<component id="TreeServiceImageNodeConverter"
		  service="UCommerce.Web.Api.Services.Nodes.ITreeNodeContentToTreeNodeConverter, UCommerce.Web.Api"
		  type="UCommerce.Umbraco7.Content.Umbraco7ImageNodeConverter, UCommerce.Umbraco7" />

		<!-- Factories -->
		<component id="JavaScriptFactory"
				service="UCommerce.Presentation.UI.IJavaScriptFactory, UCommerce.Presentation"
				type="UCommerce.Umbraco7.UI.JavaScriptFactory, UCommerce.Umbraco7" />

		<!-- Others, only required by this CMS integration layer -->
		<component id="NodeHelper"
				service="UCommerce.Presentation.Menu.INodeHelper, UCommerce.Presentation"
				type="UCommerce.Umbraco7.Menu.NodeHelper, UCommerce.Umbraco7" />

		<!-- Resources -->
		<component id="ResourcesDependencyLoader"
		  service="ClientDependency.Core.Controls.ClientDependencyLoader, ClientDependency.Core"
		  type="UCommerce.Umbraco7.UI.Resources.ResourcesDependencyLoader, UCommerce.Umbraco7" />


		<component id="JavascriptResourcesIncludeList"
				   service="UCommerce.Presentation.UI.Resources.IResourcesIncludeList, UCommerce.Presentation"
				   type="UCommerce.Presentation.UI.Resources.Impl.JavascriptResourceIncludeList, UCommerce.Presentation" />

		<component id="ResourcesIncludeList"
				   service="UCommerce.Presentation.UI.Resources.IResourcesIncludeList, UCommerce.Presentation"
				   type="UCommerce.Umbraco7.UI.Resources.ResourcesIncludeList, UCommerce.Umbraco7" />

		<component id="controls.ucommerceMain"
				service="UCommerce.Presentation.UI.Resources.IResourcesControls, UCommerce.Presentation"
				type="UCommerce.Presentation.UI.Resources.Impl.ResourcesControls, UCommerce.Presentation" >
			<parameters>
				<resouresIncludeLists>
					<array>
						<item>${JavascriptResourcesIncludeList}</item>
						<item>${ResourcesIncludeList}</item>
					</array>
				</resouresIncludeLists>
			</parameters>
		</component>

		<component id="MediaPicker"
				   service="UCommerce.Tree.ITreeContentService, UCommerce"
				   type="UCommerce.Umbraco7.Content.Umbraco7ImageTreeService, UCommerce.Umbraco7" />
	</components>
</configuration>